{% extends "@FreakyOldNation/layout.html.twig" %}

{% block title %}ADMIN{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <h3 class="center">Bienvenue sur la page ADMIN du site Freaky Old Nation!</h3>
    {% else %}
        <a class="center" href="{{ path("home") }}"><button class="waves-effect waves-light btn">GO HOME</button></a>
    {% endif %}
{% endblock %}