{% extends "@FreakyOldNation/layout.html.twig" %}

{% block title %}Error 404{% endblock %}

{% block body %}
<div class="container-fluid notfound">
    <div class="row">
        <div class="col s6 offset-s3" style="text-align: center;">
            <h2>Page not found!</h2>
            <p>Tu t'es perdu?</p>
            <p>Ce n'es pas grave, je vais t'aider à retrouver tes parents. </p>
            <p>Tiens, appuies sur ce bouton :</p>
            <a href="{{ path('home') }}"><button style="height: 60px;" class="waves-effect waves-light btn"><h5>JE VEUX RENTER A MA MAISON!!!</h5></button></a>
        </div>
    </div>
</div>


{% endblock %}